@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
/** Color Palette **/
/* Basic colors*/
/* gray */
/* Yellow */
/* Amber */
/* Orange */
body {
  color: #fff;
  background-color: #343a40;
}

#header-container nav .myIsActive {
  font-weight: bolder;
}

#header-container .my-nav-top {
  color: #fff;
  background-color: #000;
}

#header-container .my-nav-top a {
  color: #fff;
}

#header-container .my-nav-bottom {
  color: #fff;
  background-color: #6c757d;
}

#header-container .my-nav-bottom .navbar-toggler {
  border-color: #FFC107;
}

#header-container .my-nav-bottom a {
  color: #000;
}

#main-container .container {
  color: #fff !important;
  background-color: #343a40 !important;
}

#main-container .main-title {
  text-shadow: 2px 2px 4px #6b2f2f;
  font-size: 4rem;
  font-weight: 600;
  font-family: "Dancing Script", cursive !important;
}

#main-container #sort-btn {
  display: block;
  margin-left: auto;
  margin-right: 0;
  color: #ced4da;
  line-height: 0.5rem;
}

#main-container #sort-btn:focus {
  /* Remove button outline on focus*/
  -webkit-box-shadow: none;
          box-shadow: none;
}

#main-container .row {
  color: #fff;
  background-color: #343a40;
}

#main-container .row .my-movie-card-container .my-movie-card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  background-color: #000;
}

#main-container .row .my-movie-card-container .my-movie-card .my-movie-col-md-5 {
  background-color: #000;
}

#main-container .row .my-movie-card-container .my-movie-card a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

#main-container .row .my-movie-card-container .my-movie-card span {
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  border-radius: 30px;
  background-color: #FFC400;
  color: #000;
  text-align: center;
  font-size: 1em;
  display: inline-block;
}

#main-container .row .my-movie-card-container .my-movie-card i {
  color: #FFC400;
}

#main-container .row .my-movie-card-container .my-movie-card .my-movie-card-body {
  position: relative;
  color: #fff;
  background-color: #000;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

#main-container .row .my-movie-card-container .my-movie-card .card-text {
  font-size: 0.875rem;
}

#main-container .row .my-movie-card-container .my-movie-card .description-txt {
  /* Make the description a grow to fill the available space 
          and to place the like-wrapper at the end of the div */
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#main-container .row .my-movie-card-container .my-movie-card img {
  /* Force img to take entire width of its container for small screens */
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#main-container .modal {
  color: #6c757d;
}

#footer-container {
  background-color: #FFC400;
  color: #fff;
}

#footer-container a {
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */